*.ags linguist-language=Apollo Guidance Computer
*.aea linguist-language=Apollo Guidance Computer
*.argus linguist-language=Apollo Guidance Computer
*.mitigus linguist-language=Apollo Guidance Computer
*.binsource linguist-language=Apollo Guidance Computer