.vscode/**/*
.vscode-test/**/*
node_modules/**/*
out/test/**/*
out/src/build.*
out/src/createFile.*
spec/**/*
src/**/*
test/**/*
syntax/**/*
.gitattributes
.gitignore
tsconfig.json
tslint.json
package.json
.travis.yml
.eslintrc.yaml
.bithoundrc
